.Navbar {
    width: 100%;
    color: aliceblue;
    padding: 10px 80px 8px 10px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.Navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.Profile_image {
    width: 30px;
    height: 30px;

}

.Navbar-right {
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.Nav-list {
    font-size: 18px;
    display: flex;
    gap: 50px;
    list-style: none;


}

.Nav-list li {
    cursor: pointer;
}